header {
  margin: 50px auto 50px;
  height:80px;
  flex: auto;
  position: relative;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.flex-container {
  display: flex;
  float:center;
  overflow: auto;
  flex-flow:column wrap;
  flex-direction: column;
  text-align: justify;
  max-width: 50%;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin:30px auto 30px;
}


.image-container {
  float: center;
  flex-flow:column wrap;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 33%;
  max-width: 100vw;
  margin:30px;
}

.clearfix {
    overflow: auto;
}